In [9]:
for n in range(0, 100):
    if n % 5 == 0:
        print("Divisible by Five", n)
       
    else: 
        print("Not Divisible by Five", n)

Divisible by Five 0
Not Divisible by Five 1
Not Divisible by Five 2
Not Divisible by Five 3
Not Divisible by Five 4
Divisible by Five 5
Not Divisible by Five 6
Not Divisible by Five 7
Not Divisible by Five 8
Not Divisible by Five 9
Divisible by Five 10
Not Divisible by Five 11
Not Divisible by Five 12
Not Divisible by Five 13
Not Divisible by Five 14
Divisible by Five 15
Not Divisible by Five 16
Not Divisible by Five 17
Not Divisible by Five 18
Not Divisible by Five 19
Divisible by Five 20
Not Divisible by Five 21
Not Divisible by Five 22
Not Divisible by Five 23
Not Divisible by Five 24
Divisible by Five 25
Not Divisible by Five 26
Not Divisible by Five 27
Not Divisible by Five 28
Not Divisible by Five 29
Divisible by Five 30
Not Divisible by Five 31
Not Divisible by Five 32
Not Divisible by Five 33
Not Divisible by Five 34
Divisible by Five 35
Not Divisible by Five 36
Not Divisible by Five 37
Not Divisible by Five 38
Not Divisible by Five 39
Divisible by Five 40
Not Divisible by Five 41
Not Divisible by Five 42
Not Divisible by Five 43
Not Divisible by Five 44
Divisible by Five 45
Not Divisible by Five 46
Not Divisible by Five 47
Not Divisible by Five 48
Not Divisible by Five 49
Divisible by Five 50
Not Divisible by Five 51
Not Divisible by Five 52
Not Divisible by Five 53
Not Divisible by Five 54
Divisible by Five 55
Not Divisible by Five 56
Not Divisible by Five 57
Not Divisible by Five 58
Not Divisible by Five 59
Divisible by Five 60
Not Divisible by Five 61
Not Divisible by Five 62
Not Divisible by Five 63
Not Divisible by Five 64
Divisible by Five 65
Not Divisible by Five 66
Not Divisible by Five 67
Not Divisible by Five 68
Not Divisible by Five 69
Divisible by Five 70
Not Divisible by Five 71
Not Divisible by Five 72
Not Divisible by Five 73
Not Divisible by Five 74
Divisible by Five 75
Not Divisible by Five 76
Not Divisible by Five 77
Not Divisible by Five 78
Not Divisible by Five 79
Divisible by Five 80
Not Divisible by Five 81
Not Divisible by Five 82
Not Divisible by Five 83
Not Divisible by Five 84
Divisible by Five 85
Not Divisible by Five 86
Not Divisible by Five 87
Not Divisible by Five 88
Not Divisible by Five 89
Divisible by Five 90
Not Divisible by Five 91
Not Divisible by Five 92
Not Divisible by Five 93
Not Divisible by Five 94
Divisible by Five 95
Not Divisible by Five 96
Not Divisible by Five 97
Not Divisible by Five 98
Not Divisible by Five 99

In [10]:
for i in range (1, 10):
    print(i ** 2)

1
4
9
16
25
36
49
64
81

In [17]:
for n in range(18, 25):
    if n == 20:
        print("Number is", n)
    elif n > 20:
        print(n, "is greater than 20")
    else:
        print(n, "is less than 20")

18 is less than 20
19 is less than 20
Number is 20
21 is greater than 20
22 is greater than 20
23 is greater than 20
24 is greater than 20